@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    --header-text-color: #4a4a4d;
    --svg-steps-color: #f1f3f3;
}

.header-text-color {
    color: var(--header-text-color);
}

.general_background {
    background-image: url(../img/background_how_we_work.png);
    background-size: cover;
    background-position: 70% 50%;
    min-height: 30vh;
    padding: 0px 20px 60px 20px;
    margin: auto;
}

.container_how_we_work {
    padding: 30px 0px 0px 40px;
    min-width: 320px;
}

.how_we_work {
    display: block;
    margin: auto;
    background-color: #ffffff;
    padding: 50px 20px;
}

.header_font-family {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bolder;
}

.p_font-family {
    font-family: 'OpenSans-Semibold', sans-serif;
    font-size: 16px;
}

#h2 {
    font-weight: 900;
}

#h3 {
    margin-bottom: 18px;
}

@media (max-width: 766px) {
    .text-increasing {
        font-size: 1.5rem;
    }
    .text-reducing {
        font-size: 1.2rem;
    }
}

@media (min-width: 767px) {
    .text-increasing {
        font-size: 2rem;
    }
    .text-reducing {
        font-size: 1.5rem;
    }
}

@media (min-width: 991px) {
    .text-increasing {
        font-size: 3rem;
    }
    .text-reducing {
        font-size: 2rem;
    }
}

.time {
    font-size: 11px;
    font-family: 'OpenSans-Light', sans-serif;
}

.a_masterclasses_blocks, .a_duties {
    font-size: 13px;
    color: #ffffff;
    font-family: 'Roboto-Light', sans-serif;
}

a:hover {
    color: #8c7568;
}

.space_before_masterclasses_header {
    margin-top: 30px;
}

.space_before_masterclasses_a {
    padding-top: 70px;
}

.svg_for_how_we_work {
    width: 40px;
    display: block;
    margin: auto;
}

.p_steps {
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #7D7D7D;
}

.svg_for_duty {
    width: 50px;
}

.img_masterclass_block {
    background-size: cover;
    background-position: 58% 50%;
    height: 310px;
}

.masterclass {
    background-color: #343436;
    display: block;
    margin: auto;
    margin: 20px;
}


@media (min-width: 992px) {
    .masterclass {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.text_inside_masterclasses {
    padding: 25px 15px 20px 15px;
}

.p_masterclasses {
    padding-bottom: 20px;
}

div .masterclasses_blocks > article img {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .masterclasses_blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.careers_header {
    text-align: center;
}

.empty_block {
    min-width: 260px;
    min-height: 863px;
    display: none;
    max-width: 90%;
}

@media(min-width: 768px) {
    .general_background {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media(max-width: 767px) {
    .how_we_work {
        display: block;
        margin: auto;
    }
}

.block_with_text, .empty_block {
    padding: 0px 15px;
}

.steps_svg {
    background-color: var(--svg-steps-color);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.step {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 5px;
    padding: 10px;
    margin-top: 20px;
    
}

#step {
    padding-left: 15px;
}

.list_of_steps {
    list-style: none;
    padding: 5px;
    padding-left: 0rem;
}

.careers_center {
    display: block;
    margin: auto;
    width: 70px;
    height: 20px;
    padding: 0px 0px 25px 0px;
}

.masterclasses_data, .masterclasses_description {
    color: #ffffff;
}

.masterclasses_time {
    color: #969696;
    font-weight: 100;
    font-size: 13px;
}

.masterclasses {
    padding: 0px 10px 80px 10px;
    background-image: url(../img/background_masterclasses.png);
    background-size: cover;
    background-position: 70% 50%;
    min-height: 30vh;
    margin: auto;
}

.text_block_masterclasses {
    padding: 80px 20px 0px 20px;
}

.max_scale {
    max-width: 1080px;
    margin: auto;
}

.carousel-team-work {
    margin-top: 50px;
}

.carousel-team-work .slide-basket img {
    border: 2px solid #a83e4cd4;;
    border-radius: 50%;
}
  
.carousel-team-work .slide-basket {
    display: flex;
    justify-content: space-around;
}
  
.carousel-team-work .slide-basket img {
    width: 25%;
}

.team_work_header {
    padding: 80px 20px 0px 20px;
    margin-bottom: 25px;
}

.centered {
    display: block;
    margin: auto;
    text-align: center;
}

#team_work {
    background-image: url(../img/background_team_work.png);
    background-size: cover;
    background-position: 70% 50%;
    min-height: 30vh;
    margin: auto;
}

.carousel-buttons {
    padding: 50px 6px 20px 6px;
}

.carousel-buttons img {
    width: 10px;
}

.carousel-buttons button {
    margin: 0px 15px 0px 15px;
    color: #a83e4cd4;
    background-color: rgb(0, 0, 0, 0);
    text-decoration: none;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 15px;
}

button:focus {
    border-color: none; 
}

.dot {
    color: #a83e4c;;
}

.p_team_work {
    text-align: center;
    padding: 0px 30px 60px 30px;
}


